foreground = {{FOREGROUND}}
debug = {{DEBUG}}
output = {{OUTPUT}}
logId = {{LOGID}}

[{{SERVICE_NAME}}]
client  = no
accept  = {{ACCEPT}}
connect = {{CONNECT}}

; Server certificate and private key
cert = {{CERT}}
key = {{KEY}}

; Browser clients don't require client certificates
; level 0 - request and ignore peer certificate
; level 1 - verify peer certificate if present
; level 2 - verify peer certificate
; level 3 - verify peer with locally installed certificate
; level 4 - ignore CA chain and only verify peer certificate
; default - no verify
; verify = 0
