foreground = {{FOREGROUND}}
debug = {{DEBUG}}
output = {{OUTPUT}}
logId = {{LOGID}}

[{{SERVICE_NAME}}]
client  = no
accept  = {{ACCEPT}}
connect = {{CONNECT}}

; Server certificate and private key
cert = {{CERT}}
key = {{KEY}}

; CA file for verifying client certificates
CAfile = {{CAFILE}}
verify = 2
